*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
}

body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  width: 100%;
  max-width: 948px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
  align-items: center;
  justify-content: center;
}

.app {
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2rem 1.5rem;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  gap: 2rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 73, 77, 0.2);
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s;
}

.form {
  color: hsl(183deg, 100%, 15%);
  padding: 0 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  opacity: 0;
  -webkit-animation: fadeInLeft 1.2s 0.1s forwards;
          animation: fadeInLeft 1.2s 0.1s forwards;
}

.section__title {
  margin-bottom: 0.5rem;
}
.section--tip {
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}
.section--tip .section__title {
  grid-column: 1/-1;
  margin-bottom: 1rem;
}
.section--people-count.error {
  position: relative;
}
.section--people-count.error .input-container {
  border: 2px solid #f43f5e !important;
}
.section--people-count.error .error-message {
  display: block;
}

.input-container {
  width: 100%;
  border: 2px solid transparent;
  background-color: hsl(189deg, 41%, 97%);
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.input-container:has(> .input--number:focus) {
  border: 2px solid hsl(172deg, 67%, 45%);
}
.input--number {
  flex: 1;
  border: none;
  background-color: transparent;
  color: hsl(183deg, 100%, 15%);
  font-size: 1.375rem;
  text-align: right;
  -moz-appearance: textfield;
}
.input--number:focus {
  outline: none;
}
.input--number::-moz-placeholder {
  color: hsl(184deg, 14%, 56%);
}
.input--number:-ms-input-placeholder {
  color: hsl(184deg, 14%, 56%);
}
.input--number::placeholder {
  color: hsl(184deg, 14%, 56%);
}
.input--number::-webkit-outer-spin-button, .input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tip-label {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  text-align: center;
  padding: 0.375rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.input--radio:checked + .tip-label {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}

#tip--custom {
  background-color: hsl(189deg, 41%, 97%);
  padding: 0.375rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: 0.3s ease-out;
}
#tip--custom:focus {
  border: 2px solid hsl(172deg, 67%, 45%);
}

#label-custom {
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
  transition: 0.3s ease-out;
}

.error-message {
  display: none;
  color: #f43f5e;
  position: absolute;
  top: 0;
  right: 0;
}

.result {
  width: 100%;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 1rem;
  padding: 2.25rem 1.375rem 1.625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  opacity: 0;
  -webkit-animation: fadeInLeft 1.2s 0.3s forwards;
          animation: fadeInLeft 1.2s 0.3s forwards;
}
.result__item {
  display: flex;
  justify-content: space-between;
}
.result__item:nth-child(2) {
  margin-bottom: 1rem;
}
.result__textbox {
  color: hsl(0deg, 0%, 100%);
  line-height: 1.2;
}
.result__textbox span {
  color: hsl(184deg, 14%, 56%);
  font-size: 0.75rem;
}
.result__title {
  font-size: 1rem;
}
.result__amount {
  color: hsl(172deg, 67%, 45%);
  font-size: 2rem;
  font-size: clamp(2rem, 1rem + 4vw, 3rem);
  line-height: 1;
  display: flex;
  align-items: center;
}
.result .dollar-sign {
  font-size: 0.875em;
}

.btn-reset {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-top: auto;
  border: none;
  border-radius: 0.25rem;
  transition: 0.3s ease-out;
}
.btn-reset:hover, .btn-reset:active {
  background-color: #7fe6d8;
}
.btn-reset.deactive {
  opacity: 0.3;
  pointer-events: none;
}

@media (min-width: 47em) {
  .container {
    padding: 3rem 0.75rem;
    gap: 5.5rem;
  }
  .app {
    margin-top: 0;
    border-radius: 1.5rem;
    padding: 2rem;
  }
  .form {
    padding: 1rem;
    gap: 2.5rem;
  }
  .result {
    padding: 3.75rem 2.375rem 2rem;
    gap: 3rem;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=main.css.map */